body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

main {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
        margin-bottom: 15px;
        width: 100%;
        box-sizing: border-box;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button, .button-link { /* Объединяем стили для кнопок */
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 5px; /* Отступ между кнопками */
        text-decoration: none; /* Убираем подчеркивание у ссылки */
        display: inline-block; /* Для горизонтального расположения */
    }

    button {
        background-color: #4CAF50;
        color: white;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #45a049;
    }

    .button-link {
        color: #337ab7;
    }

    h1 {
        margin-bottom: 20px;
        color: #333;
    }

    /*  Для горизонтального расположения кнопок: */

    .button-container {
        display: flex;
        justify-content: center;
    }
}